*{
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: calc(15px * var(--dynamic-font-scale,1));
    line-height: 1.4;
    color: rgb(40, 40, 41);
    direction: ltr;
    /* background-image: url('./bg.jpg'); */
    /* background-color: #f2f2f2; */
    background-color: #F1F2F2;
    margin: 0;
    user-select: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu-bar{
    /* overflow: hidden;
    text-align: center; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}

#menu-bar a {
    text-decoration: none;
    color: green;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: rgb(185, 43, 39);
}
#menu-bar a:hover {
    opacity: 0.8;
    background-color: rgb(243, 241, 241);
}

#menu-bar .logo{
    color: rgb(185, 43, 39);
    text-decoration: none;
    margin: 0;
    font-size: 28px;
    font-weight: bolder;
    padding-right: 50px;
    cursor: pointer;
}

#menu-bar .logo:hover{
    opacity: 0.8;
    
}

#menu-bar .searchArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    outline: 1px solid black;
    width: 16rem;
    height: 1.7rem;
    margin: 0 1rem;
} 

#menu-bar span i {
    padding: 0 6px;
}

#menu-bar span input[type=text] {
    background-color: transparent;
    border: 0;
    outline: none;
}


.wrapper{
    background-color: #F1F2F2;
    height: auto;
    width: 100%;
}

.container{
    width: 40%;
    margin: 20px auto;
    background-color: #F1F2F2;
    display: flex;
}

.container .side-bar{
    width: 20%;
    background-color: #F1F2F2;
    margin-right: 10px;
}

.container .content{
    width: 80%;
    background-color: #F1F2F2;
}


/* Post Container Start*/

.content .post-container{
    background-color: #F1F2F2;
}

.content .news-feed-container{
    background-color: white;
    margin: 10px 10px;
}

.news-feed-container .divider{
    background-color: #F1F2F2;
    height: 15px;
}

.content .post-container .post-container-input{
    height: auto;
    
}

.post-container-input a {
    padding: 10px 14px;
    font-size: 15px;
    border-radius: 25px;
    background-color: darkgrey;
    margin-right: 10px;
}

.post-container-input input[type="text"] {
    padding-left: 20px;
    width: 500px;
    outline: none;
    border: black;
    height: 35px;
}

.post-container .post-container-button{
    display: flex;
    margin: 10px auto;
    
}

.post-container-button button{
    margin: 10px 30px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

.post-container-button .border{
    /* border: 1px; */
}

/* Post Container End*/




/* Side Bar Start*/

.side-bar{
    display: grid;
    text-align: left;
}

.side-bar span{
    padding: 5px 10px;
    font-weight: 500;
    text-transform: capitalize;

}

.side-bar span:hover{
    background-color: rgb(200, 200, 200);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.side-bar span i{
    padding: 5px 10px;
}
/* Side Bar End*/


/* News Feed Container Start */

.news-feed-container .post{
    padding: 13px 30px;
    display: block;
}

.post .post-profile{
    padding-bottom: 10px;
    display: flex;
}

.post-profile span{
    width: 30px;
    height: 40px;
    font-size: 22px;
    cursor: pointer;
}

.post-profile .post-title span{
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.post-profile .post-title p{
    font-weight: 400;
    font-size: 14px;
}

.post-profile .cross{
    margin-left: 291px;
    cursor: pointer;
}

.post-profile .cross:hover{
    color: red;
    font-size: larger;
    font-weight: 500;
}

.post .post-content{
    font-size: 14px;
    color: rgb(31, 30, 30);
}
/* News Feed Container End*/