body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: calc(15px * var(--dynamic-font-scale,1));
    line-height: 1.4;
    color: rgb(40, 40, 41);
    direction: ltr;
    /* background-image: url('./bg.jpg'); */
    /* background-color: #f2f2f2; */
    background-color: #443d3d;
    margin: 0;
}

#menu-bar{
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu-bar a {
    text-decoration: none;
    color: green;
    padding: 10px 10px 10px 10px;
}

#menu-bar .logo{
    color: rgb(185, 43, 39);
    text-decoration: none;
    margin: 0;
    font-size: 28px;
    font-weight: bolder;
    padding-right: 50px;
}

.menu-bar input[type=text] {
    border: 1px solid #ccc;  
}